// .header {
//     background-color: red;
//     @include mediaQueries(SM) {
//         background-color: green;
//     }
// }

.section-block {
    padding: 2rem 5rem;
}
.btn {
    &--link {
        color : $color-main !important;
    }
}
.border {
    &--right {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 3px;
            height: 30rem;
            background-color: $color-main;
            top: 50%;
            transform: translate(0,-50%);
            right: 0;
        }
    }
    &--bottom {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: $color-main;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0);
        }
    }

}

.heading{
    &--title {
        position: relative;
        padding-left: 2rem;
        margin-bottom: 2rem;
        &::after {
            content: '';
            width: 3px;
            height: 3rem;
            display: block;
            background-color: $color-main;
            position: absolute;
            top: 50%;
            transform: translate(0,-50%);
            left: 0;
        }
    }
}

//Left side
.person {
    text-align: center;
    &__avatar {
        &--img {
            border-radius: 50%;
            width: 15rem;
            height: 15rem;
            object-fit: cover;
        }

        margin-bottom: 1.5rem;
    }

    &__text {
        font-weight: $regular;
        font-size: 1.3rem;
        margin-bottom: 1.5rem;
    }

    .social {
        display: flex;
        justify-content: center;
        align-items: center;
        &__item {
            &:not(:last-child) {
                padding-right: 1rem;
            }

            &-link {
                display: block;
                width: 3rem;
                height: 3rem;
                line-height: 3.5rem;
                background-color: $color-white;
                color: $color-main;
                border-radius: 50%;
            }
        }
    }

}

.nav {
    .menu {

        text-align: left;
        width: 10rem;
        margin: 0 auto;
        &__item {
            &:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            &-link {
                display: block;
                color: $color-white;
                font-weight: $semi-bold;
                transition: all .3s ease;
                &.active {
                    color: $color-main-dark;
                }
                &:hover {
                    color: $color-main-dark;
                }
            }
        }
    }
}

.theme {
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1.5rem;
        &--text {
            font-size: 1.3rem;
            margin-left: 1rem;
            font-weight: $semi-bold;
        }
    }
    &__toggle {
        display: block;
        width: 6rem;
        height: 3rem;
        border-radius: 1.5rem;
        margin: 0 auto;
        padding: 3px;
        border: 2px solid $color-white;
        cursor: pointer;
        user-select: none;
        transition: all .3s ease;
        input[type="checkbox"]:checked + &--circle {
            background-color: $color-white;
            margin-left: 3rem;
        }
        &--circle {
            border: 2px solid $color-white;
            display: block;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            transition: all .3s ease;
        }
    }
}


//Righ side

.header {
    padding: 2rem 0;
    height: 30rem;
    text-align: center;
    background-color: rgb(235, 233, 233);
    position: relative;
    .h-1 {
        margin-bottom: 2rem;
    }
    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        user-select: none;
    }

}

.description {

    &__content {

        padding: 1rem 2rem 0 2rem;
    }
}


.skills {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;

    &__soft {}
    &__hard {
    }
}
.list {
    &__item {
        list-style-type: circle;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}

.experience {

    // background-color: red;
    &__grid {
        display: flex;
        flex-wrap: wrap;
        &--item {
            width: calc(100%/3);
            padding-bottom: 2rem;
            padding: 2rem 1rem;

        }
        &--item-w-100 {
            width: 100%;

        }
        //custom flex
        &--column {
            flex-direction: column;
        }
    }
}

.card {

    display: flex;
    flex-direction: column;
    align-items: center;
    &--row {
        flex-direction: row;

    }
    &__head {

        &--img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }

        margin-bottom: 2rem;
        &--row {
            flex: 0 0 20%;
        }
    }
    &__body {

        text-align: left;
        font-weight: $medium;
        &--row {
            flex: 0 0 80%;
        }
    }
}