
html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%; // = 10px, 1rem = 10px
}

*,
*:before,
*:after {
    margin: 0;
	padding: 0;
	border: 0;
	box-sizing: inherit;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
a,
a:visited,
a:active{
    color:$color-dark;
}

body {
    font-size: 1.6rem; // = 16px
    font-family: 'Montserrat', sans-serif;
}