// Color palette
$color-main : rgba(255, 131, 96, .9);
$color-main-light : rgba(255, 131, 96, 1);
$color-main-dark : rgb(186, 96, 71);
$color-white : #fff;
$color-dark : #222831;

// Font weight
$regular : 400;
$medium : 500;
$semi-bold : 600;
$bold : 700;